################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vedant.API/bin/Debug/netcoreapp2.2
/Vedant.API/obj
/Vedant.Data/bin/Debug/netcoreapp2.2
/Vedant.Data/obj
/Vedant.Business/bin/Debug/netcoreapp2.2
/Vedant.Business/obj
/Vedant.API/bin/Release/netcoreapp2.2
/Vedant.Business/bin/Release/netcoreapp2.2
/Vedant.Data/bin/Release/netcoreapp2.2
/SGMH.Healthcare.Vedant.API/obj
/SGMH.Healthcare.Vedant.API/bin/Debug/netcoreapp3.0
/SGMH.Healthcare.Vedant.Business/obj
/SGMH.Healthcare.Vedant.Business/bin/Debug/netcoreapp3.0
/SGMH.Healthcare.Vedant.Data/obj
/SGMH.Healthcare.Vedant.Data/bin/Debug/netcoreapp3.0
/SGMH.Healthcare.Vedant.API/bin/Release/netcoreapp3.0
/SGMH.Healthcare.Vedant.API/Properties/PublishProfiles
/SGMH.Healthcare.Vedant.Data/bin/Release/netcoreapp3.0
/SGMH.Healthcare.Vedant.Business/bin/Release/netcoreapp3.0
/SGMH.Healthcare.Vedant.Business/bin/Debug/netcoreapp3.1
/SGMH.Healthcare.Vedant.Data/bin/Debug/netcoreapp3.1
/SGMH.Healthcare.Vedant.Business/bin/Release/netcoreapp3.1
/SGMH.Healthcare.Vedant.Data/bin/Release/netcoreapp3.1
/SGMH.Healthcare.Vedant.API.UnitTests/bin/Debug/netcoreapp3.1
/SGMH.Healthcare.Vedant.API.UnitTests/obj
/SGMH.Healthcare.Vedant.API/bin
